@media screen and (min-width: 480px) {
    body {
        background-color: grey;
        color: white;

        img {
            width: 20%;
        }
    }
}

@media screen and (min-width: 1000px) {


    /* designs general background */
    body {
        background-image: url(shoo.jpg);
        background-size: cover;
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat-x;
        background-blend-mode: hard-light;
        font-size: 20px;
        scroll-behavior: thread;
        opacity: 100%;

        /*  modifies the heading */
        h2 {
            text-align: center;
            text-decoration: underline;
        }
    }

    img {
        margin: 20px;
        max-width: 70%;

    }

    /* inro class */
    .intro {
        font-weight: bold;
        color: black;
    }

    /* modifies bags class */
    .bags {
        border: 2px solid black;
        background-color: purple;
        margin: 20px;
        float: right;
        margin-top: -205px;
        margin-right: 570px;
        font-size: 25px;
    }

    /*  modifies the shoes class */
    .shoes {
        border: 2px solid black;
        background-color: purple;
        margin: 20px;
        float: right;
        margin-top: -220px;
        margin-right: 520px;
        font-size: 30px;
    }

    /*  modifies the other class */
    .other {
        border: 2px solid black;
        background-color: purple;
        margin: 20px;
        float: right;
        margin-top: -370px;
        margin-right: 490px;
        font-size: 45px;
    }

    .first {
        margin: 5px;
        font-size: 35px;
        color: black;
        text-weight: bold;
    }

    .second {
        margin: 5px;
        font-size: 35px;
        color: black;
        text-weight: bold;
    }

    .third {
        margin: 5px;
        font-size: 35px;
        color: black;
        text-weight: bold;
    }

    .end {
        color: red;
        text-decoration: underline;
    }

    /*  class that modifies main content */
    .main {
        background: yellowgreen;
        text-decoration: underline;
    }

    /* modifies the last paragraph */
    p {
        font-size: 30px;
        weight: bold;
    }
}